{% extends "M.Alberti.html" %}

{% block content %}
<div class="jumbotron1">
  <div class="jumbotron">
    <h1 class="display-4">Preguntas Frecuentes!</h1>
    <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
    <hr class="my-4">
    <p>¿Cuales son los horarios de los locales?
      Lunes a Viernes de 7.30/8 a 18 hs. Galerías hasta las 17 hs. (Ventas por MAYOR)
      Sábados de 8/8.30 a 14 hs. (Ventas por MENOR) (y...tambien por MAYOR)
      </p>
    <p>¿Los locales estan abiertos los feriados?
        Los locales estan CERRADOS, los sábados por la tarde, domingos y feriados.</p>
    <p>¿Cual es la compra minima para la venta por mayor?
        Cada fabricante tiene sus propias condiciones de venta. Algunos venden por mayor a partir de 3 prendas, otros a partir de 6 y los más grandes mínimo 12 prendas, (4 por articulo).
        Para más seguridad recomendamos ir el sábado, que es el día de venta por menor.</p>
    <p>¿Se puede pagar con tarjeta?
          NO. Los pagos son en efectivo.</p>
      <p>¿Se pueden probar las prendas?
        NO. Los locales no tienen probador.</p>
        <p>¿Como utilizo el "buscador" que hay en cada página?
          Escribo en el "buscador" lo que estoy buscando (por ej. escarpines. modal. mail. www) y apareceran seleccionados los fabricantes de esa página que lo tienen.</p>
    <p>¿Como consigo la lista de precios?
      Conectandote "directamente" con ese fabricante, cuyas prendas te interesan</p>
    <p>¿Hacen envios al interior?
      Casi todos los locales hacen "envios al interior" ... (previo pago)</p>
    <p>¿Como hago para aprovechar los descuentos?
      Simplemente hay que imprimir el cupón de descuento y presentarlo al momento de la compra.
      Recuerden que el cupón tiene un periodo de vigencia.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>

</div>
{% endblock %}